<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        .wrapper{
            display: flex;
            direction: row;
        }

        .wrapper div{
            width: 50%;
            height: 900vh;
        }

        .wrapper :nth-child(1){
            background: black;
        }

        .wrapper :nth-child(2){
            background: grey;
        }

        @media( max-width: 500px){
            .wrapper {
                direction: column;
            }
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div></div>
        <div></div>
    </div>
</body>
</html>